{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% for blog in blogs %}
        <div>
            <div class="row">
                <div class="col-lg-1">
                    <img src="{{ blog.author.profile.image.url }}" alt="" style="width: 80px; height: 80px; border-radius: 50%;">
                </div>
                <div class="col-lg-11">
                    <h4 style="position: relative; left: 25px;">{{ blog.author.profile.first_name }} - {{ blog.author.profile.last_name }} </h4>
                </div>
            </div>
            <h3>
                <a href="{% url 'post-detail' blog.slug %}">
                    {{ blog.title }}  
                </a>
            </h3>
            {% if blog.image %}
                <img src="{{ blog.image.url }}" alt="image" class="img-fluid">
            {% endif %}
            <p class="my-3">{{ blog.body|safe|truncatewords:"50"|linebreaks }}</p>

            <small class="text-muted">
                Posted {{ blog.created|timesince }} ago
            </small>

            <div class="row mt-2">
                <div class="col-4">

                    <form action="{% url 'like-post' %}" method="POST" class="like-form" id="{{blog.id}}">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{blog.id}}>
                        <button class="btn btn-info like-btn{{blog.id}}" type="submit" >
                                {% if user not in blog.likes.all %}
                                    Like
                                {% else %}
                                    Unlike
                                {% endif %}
                            </button>
                    </form>
                    <span class="mx-2 like-count{{blog.id}}" style="font-size: 19px;">{{ blog.number_of_likes }} likes</span> 
                </div>
                
            </div>
        </div>
        <hr>
        {% empty %}
        <p class="alert alert-info text-center">There are not post on the database</p>
    {% endfor %}



    {% block script %}
    <script>
        
    </script>
    
    {% endblock script %}
{% endblock content %}