{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <a href="/" class="btn btn-outline-secondary mb-2">Go Back</a>
        <a href="{% url 'post-update' object.slug %}" class="btn btn-outline-primary mb-2">Update Post</a>
        <a href="{% url 'post-delete' object.slug %}" class="btn btn-outline-danger mb-2">Delete Post</a>
        <h3>
            {{ object.title }}
        </h3>
        {% if object.image %}
        <img src="{{ object.image.url }}" alt="image" class="img-fluid">
        {% endif %}
        <p class="my-3">{{ object.body }}</p>
    
        <small class="text-muted">
            Posted {{ object.created|timesince }} ago
        </small>
    
        <div class="row mt-2">
            <div class="col-4">
                
            </div>
        </div>

        <form id="comment" action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-outline-info btn-md mt-2">Comment</button>
        </form>

        <h3 class="mt-2">All Comments {{ object.comments.all.count }}</h4>
            <hr>
            {% for comment in object.comments.all %}
            <div class="row">
                <div class="col-lg-1">
                    <img src="{{ comment.user.profile.image.url }}" alt="" class="" style="border-radius: 50%; width: 50px; height: 50px;">
                </div>
                <div class="col-lg-11">
                    <strong>{{ comment.user.profile.first_name }} - {{ comment.user.profile.last_name }} </strong>
                    <br>
                    <small class="text-muted">{{ comment.created_at|timesince }} ago</small>
                </div>
                <div class="col-lg-12 mr-auto">
                    <p class="mt-3">{{ comment.comment }}</p>
                    <br>
                </div>
                <br>
            </div>
            {% empty %}
            <p class="alert alert-info text-center">No comment has received yet.</p>
            {% endfor %}
    </div>
{% endblock content %}